
<B_produits>
    <div class="liste corbeille-produits">
        [<h3 class="titrem">(#GRAND_TOTAL|singulier_ou_pluriel{produit:info_1_produit,produit:info_nb_produit})</h3>]
        [<p class='pagination'>(#PAGINATION)</p>]
        <ul class='liste-items checkables'>
            <BOUCLE_produits(PRODUITS){statut='poubelle'}{pagination 5}{!par date}{recherche ?}>
            <li class='item'>
                <label for='produit-#ID_PRODUIT'><:corbeille:selectionner:></label>
                <input type='checkbox' name='elements[]' id="produit-#ID_PRODUIT" value='#ID_PRODUIT'[ (#ID_PRODUIT|in_any{#ENV{elements}}|oui)checked='checked']/>
                <h4>[##ID_PRODUIT - (#TITRE|sinon{<:info_sans_titre:>})]</h4>
                <small>[(#DATE|affdate)][ (#DATE|heures)]:[(#DATE|minutes)]</small>
                <p class='actions'><a href='#URL_ECRIRE{produit,id_produit=#ID_PRODUIT}'><:corbeille:voir_detail:></a></p>
            </li>
            </BOUCLE_produits>
        </ul>
        [<p class='pagination'>(#PAGINATION{prive})</p>]
    </div>
</B_produits>