<BOUCLE_produit(PRODUITS){id_produit=#ENV{id}}{statut?}>
<div class='infos'>
[(#SET{texte_objet,<:produit:titre_produit:>})]
<div class='numero'><:titre_cadre_numero_objet{objet=#GET{texte_objet}}:><p>#ID_PRODUIT</p></div>

[(#FORMULAIRE_INSTITUER_OBJET{produits,#ID_PRODUIT})]

[(#REM) Informations synthétiques sur le prix et la taxe ]
[(#REM)
<INCLURE{fond=prive/squelettes/inclure/prix-produit, id_produit}>
]

[(#REM)

	Bouton voir en ligne

]
<BOUCLE_publie(PRODUITS){id_produit}>
	[(#VAL{redirect}
		|generer_url_action{type=produits&id=#ID_PRODUIT}
		|parametre_url{var_mode,calcul}
		|icone_horizontale{<:icone_voir_en_ligne:>,racine})]
</BOUCLE_publie>
	[(#AUTORISER{previsualiser,produits,#ID_PRODUIT,'',#ARRAY{statut,#STATUT}})
		[(#VAL{redirect}
			|generer_url_action{type=produits&id=#ID_PRODUIT}
			|parametre_url{var_mode,preview}
			|icone_horizontale{<:previsualiser:>,preview})]
	]
<//B_publie>

</div>
</BOUCLE_produit>