<BOUCLE_prix_produit(PRODUITS) {id_produit} {tout}>
	#SET{prix_ht,      #PRIX_HT*|floatval}
	#SET{taxe,         #TAXE*|is_numeric|?{#TAXE*,#CONFIG{produits/taxe}}|floatval}
	#SET{prix_ttc,     #PLUGIN{prix}|?{#PRIX*,#GET{prix_ht}|plus{#GET{prix_ht}|mult{#GET{taxe}}}}|floatval}
	#SET{taxe_montant, #GET{prix_ttc}|moins{#GET{prix_ht}}}
	<div class="boite-prix">
		<div class="boite-prix__item boite-prix__item_ht">
			<span class="boite-prix__label"><:produits:produit_champ_prix_ht_label:></span>
			<span class="boite-prix__montant">[(#GET{prix_ht}|appliquer_filtre{prix_formater})]</span>
		</div>
		<div class="boite-prix__item boite-prix__item_ttc">
			<span class="boite-prix__label"><:produits:produit_champ_prix_ttc_label:></span>
			<span class="boite-prix__montant">[(#GET{prix_ttc}|appliquer_filtre{prix_formater})]</span>
		</div>
		<div class="boite-prix__item boite-prix__item_taxe">
			<span class="boite-prix__label"><:produits:produit_champ_taxe_label:>[ (#GET{taxe}|produits_afficher_taxe)]</span>
			<span class="boite-prix__montant">[(#GET{taxe_montant}|appliquer_filtre{prix_formater})]</span>
		</div>
	</div>
</BOUCLE_prix_produit>