<BOUCLE_afficher_contenu(PRODUITS){id_produit=#ENV{id}}{statut?}>
#SET{taxe,#TAXE*|is_numeric|?{#TAXE*,#CONFIG{produits/taxe,0}}|floatval}
<div class="champ contenu_titre[ (#TITRE*|strlen|?{'',vide})]">
	<div class='label'><:produits:produit_champ_titre_label:></div>
	<div dir='#LANG_DIR' class='#EDIT{titre} titre'>#TITRE</div>
</div>
<div class="champ contenu_reference tabulaire[ (#REFERENCE*|strlen|?{'',vide})]">
	<div class='label'><:produits:produit_champ_reference_label:></div>
	<div dir='#LANG_DIR' class='#EDIT{reference} reference'>#REFERENCE</div>
</div>
<div class="champ contenu_prix_ht tabulaire[ (#PRIX_HT*|strlen|?{'',vide})]">
	<div class='label'><:produits:produit_champ_prix_ht_label:></div>
	<div dir='#LANG_DIR' class='#EDIT{prix_ht} prix_ht'>
		[(#PRIX_HT*|appliquer_filtre{prix_formater,true})]
	</div>
</div>
<div class="champ contenu_taxe tabulaire[ (#GET{taxe}|strlen|?{'',vide})]">
	<div class='label'><:produits:produit_champ_taxe_label:></div>
	<div dir='#LANG_DIR' class='#EDIT{taxe} taxe'>[(#GET{taxe}|produits_afficher_taxe)]</div>
</div>
<div class="champ contenu_immateriel tabulaire[ (#IMMATERIEL*|intval|?{'',vide})]">
	<div class='label'><:produits:produit_champ_immateriel_label:></div>
</div>
[(#IMMATERIEL|non)
<div class="champ contenu_poids tabulaire[ (#POIDS*|intval|?{'',vide})]">
	<div class='label'><:produits:produit_champ_poids_label:></div>
	<div dir='#LANG_DIR' class='#EDIT{poids} valeur_poids'>#POIDS</div>
</div>
<div class="champ contenu_largeur tabulaire[ (#LARGEUR*|intval|?{'',vide})]">
	<div class='label'><:produits:produit_champ_largeur_label:></div>
	<div dir='#LANG_DIR' class='#EDIT{largeur} valeur_largeur'>#LARGEUR</div>
</div>
<div class="champ contenu_longueur tabulaire[ (#LONGUEUR*|intval|?{'',vide})]">
	<div class='label'><:produits:produit_champ_longueur_label:></div>
	<div dir='#LANG_DIR' class='#EDIT{longueur} valeur_longueur'>#LONGUEUR</div>
</div>
<div class="champ contenu_hauteur tabulaire[ (#HAUTEUR*|intval|?{'',vide})]">
	<div class='label'><:produits:produit_champ_hauteur_label:></div>
	<div dir='#LANG_DIR' class='#EDIT{hauteur} valeur_hauteur'>#HAUTEUR</div>
</div>
]
<div class="champ contenu_descriptif[ (#DESCRIPTIF*|strlen|?{'',vide})]">
	<div class='label'><:produits:produit_champ_descriptif_label:></div>
	<div dir='#LANG_DIR' class='#EDIT{descriptif} descriptif'>#DESCRIPTIF</div>
</div>
<div class="champ contenu_texte[ (#TEXTE*|strlen|?{'',vide})]">
	<div class='label'><:info_texte:></div>
	<div dir='#LANG_DIR' class='#EDIT{texte} texte'>[(#TEXTE|image_reduire{500,0})]</div>
</div>
</BOUCLE_afficher_contenu>