#SET{selection,#ENV{objet}|objet_type|lister_objets_lies{grappe,#ID_GRAPPE,grappe}}
<B_liste>
#ANCRE_PAGINATION
<div class="liste-objets liste-objets-lies produits">
<table class="spip liste" id="sort-produits">
        [<caption><strong class="caption">(#ENV*{titre,#GRAND_TOTAL|singulier_ou_pluriel{info_1_produit,info_nb_produits}})</strong></caption>]
        <tbody>
	<BOUCLE_liste(PRODUITS spip_grappes_liens){par rang}{id_grappe ?}{pagination 10}{recherche ?}{statut?}{tout}>
                <tr id="#ID_PRODUIT" class="[(#COMPTEUR_BOUCLE|alterner{row_odd,row_even})]">
			<td class='statut'>[(#STATUT|puce_statut{article,#ID_PRODUIT,#ID_RUBRIQUE})]</td>
                        <td><BOUCLE_affRang(spip_grappes_liens){objet=produit}{id_objet=#ID_PRODUIT}{id_grappe}>#RANG</BOUCLE_affRang></td>
			<td class='titre principale'>#TITRE</td>
			<td class='id'><a href="[(#ID_PRODUIT|generer_url_entite{article})]"><:grappes:voir:></a></td>
			[(#ENV{editable})
			<td class='action'>[(#BOUTON_ACTION{<:grappes:delier:> [(#CHEMIN_IMAGE{supprimer-12.png}|balise_img{'X'})],#URL_ACTION_AUTEUR{lier_objets,delier/grappe/#ID_GRAPPE/produit/#ID_PRODUIT,#SELF},ajax})]</td>
		]</tr>
	</BOUCLE_liste>
	</tbody>
</table>
[<p class="pagination">(#PAGINATION{prive})</p>]
</div>
</B_liste>
<div class="liste-objets liste-objets-lies produits caption-wrap"><strong class="caption"><:info_aucun_produit:></strong></div>
<//B_liste>
<script>
$(function(){
    $("#sort-produits").sortable({
        items:"tr",
        cursor:"move"
    });
    $("#sort-produits").disableSelection();
    $("#sort-produits").bind("sortupdate", function(event, ui){
        var ordre = $(this).sortable('toArray').toString();
        var request = $.ajax({
            type: "POST",
            url: "?action=trier_objets&id_grappe=#ENV{id_grappe}&objet=produit&sort="+ordre
        });
        request.done(function() {
            $('.formulaire_lier_objets').ajaxReload(); // Une fois trié on recharge la liste
        });        
    });
});
</script>
