<!-- hierarchie -->
<BOUCLE_hierarchie_produit(PRODUITS) {id_produit} {tout}>

[(#REM) Avec un parent, hiérarchie si id_rubrique ]
<BOUCLE_parent(CONDITION) {si #OBJET|et{#OBJET}}>
<a href="#URL_ECRIRE{rubriques}"><:info_racine_site:></a>
<BOUCLE_parent_rubrique(RUBRIQUES) {tout} {id_rubrique=#INFO_ID_RUBRIQUE{#OBJET,#ID_OBJET}}>
<BOUCLE_ariane_rubriques(HIERARCHIE) {id_rubrique} {tout}>
&gt;[(#LANG|changer_typo)]
[(#ID_RUBRIQUE|generer_url_entite{rubrique}|lien_ou_expose{#TITRE|couper{80}|sinon{<:ecrire:info_sans_titre:>}})]
</BOUCLE_ariane_rubriques>
</BOUCLE_parent_rubrique>
&gt; <a href="[(#ID_OBJET|generer_url_entite{#OBJET})]">[(#INFO_TITRE{#OBJET,#ID_OBJET}|couper{80}|sinon{<:ecrire:info_sans_titre:>})]</a>
&gt; <strong>#TITRE</strong>
</BOUCLE_parent>

[(#REM) Sans parent, squelette par défaut ]
<INCLURE{fond=prive/echafaudage/hierarchie/objet.sans_rubrique, objet=produit, id_objet=#ID_PRODUIT}>
<//B_parent>

</BOUCLE_hierarchie_produit>