[(#REM)

	Informations sur le parent d'un produit pour la saisie input améliorée avec le sélecteur générique.

]
<BOUCLE_produits(PRODUITS) {id_produit} {tout}>
#SET{objet,    #OBJET}
#SET{id_objet, #ID_OBJET}
</BOUCLE_produits>
#SET{parent,   #ENV{parent}|produits_decoder_parent}
#SET{objet,    #GET{parent/0}}
#SET{id_objet, #GET{parent/1}}
<//B_produits>

<BOUCLE_affichage(CONDITION) {si #GET{objet}|et{#GET{id_objet}}}>
#SET{titre, #INFO_TITRE{#GET{objet},#GET{id_objet}}}
#SET{nom,   #GET{objet}|objet_info{texte_objet}|_T}
<div class="parent-produit">
	[(#GET{nom}) <:info_numero_abbreviation:>][(#GET{id_objet}) : ][ (#GET{titre})]
	<a class="btn btn_changer" data-toggle="parent">Changer</a>
</div>
<style>.parent-produit .btn {float: right; font-weight: bold; cursor: pointer;}</style>
</BOUCLE_affichage>