#FORMULAIRE_RECHERCHE_ECRIRE{#SELF,ajax}
<h1 class="grostitre"><:produit:titre_produits:></h1>
<div class="nettoyeur"></div>

<INCLURE{fond=prive/objets/liste/produits, par=titre, env, ajax, sinon=<:produit:info_aucun_produit:>}>

[(#AUTORISER{creer,produit})
	[(#URL_ECRIRE{produit_edit,new=oui}|icone_verticale{<:produit:icone_creer_produit:>,produit,new,right})]
]