[(#ID_PRODUIT|oui)
	[(#AUTORISER{modifier,produit,#ID_PRODUIT}|sinon_interdire_acces)]
][(#ID_PRODUIT|non)
	#SET{objet_parent,#ENV{_parent}|produits_decoder_parent}
	[(#GET{objet_parent/objet}|=={rubrique}|?{#AUTORISER{creerproduitdans,rubrique,#GET{objet_parent/id_objet}},#AUTORISER{creer,produit}}|sinon_interdire_acces)]
]
#SET{redirect,#ENV{redirect}|sinon{#ENV{lier_trad,#ID_PRODUIT}|?{#ENV{lier_trad,#ID_PRODUIT}|generer_url_entite{produit},#GET{id_rubrique}|?{#GET{id_rubrique}|generer_url_entite{rubrique},#URL_ECRIRE{rubriques}}}}}

<div class='cadre-formulaire-editer'>
<div class="entete-formulaire">
	[(#ID_PRODUIT|oui)
	[(#GET{redirect}|icone_verticale{[(#VAL{produit}|objet_info{texte_retour}|_T)],#VAL{produit}|objet_info{icone_objet},'',left retour[(#ENV{retourajax,''}|oui)ajax preload]})]
	]
	[
		[(#VAL{produit}|objet_info{#ID_PRODUIT|?{texte_modifier,texte_creer}}|_T)]
		<h1>(#ENV*{titre,#INFO_TITRE{produit,#ID_PRODUIT}|sinon{<:info_sans_titre:>}})</h1>
	]
</div>

#SET{redirect,#ENV{redirect,#ID_PRODUIT|generer_url_entite{produit}}}
[(#ENV{retourajax,''}|oui)
	#SET{redirect,'javascript:if (window.jQuery) jQuery(".entete-formulaire .retour a").followLink();'}
	<div class="ajax">
]
		[(#FORMULAIRE_EDITER_PRODUIT{#ENV{id_produit,oui}, #ENV{_parent}, #ENV{type}, #GET{redirect}, #ENV{lier_trad}})]
[(#ENV{retourajax,''}|oui)
	</div>
	<script type="text/javascript">/*<!\[CDATA\[*/reloadExecPage('#ENV{exec}');/*\]\]>*/</script>
]
</div>
