#BOITE_OUVRIR{'',simple}
<div class="liste">
	<h4><:produit:label_parents:></h4>
	<ul class="liste-items">
		<li class="item">[(#SELF|parametre_url{objet|id_objet,''}|lien_ou_expose{<:produit:label_tous:>,#ENV{objet}|=={''}|et{#ENV{id_objet}|=={''}}})]</li>
		<BOUCLE_filtrer_parents(PRODUITS) {tout} {fusion objet,id_objet} {pagination 10}>
		<li class="item">
			[(#SELF
				|parametre_url{objet,#OBJET}
				|parametre_url{id_objet,#ID_OBJET}
				|lien_ou_expose{[(#OBJET|objet_icone{16})][ (#INFO_TITRE{#OBJET,#ID_OBJET}|couper{30})],#ENV{objet}|=={#OBJET}|et{#ENV{id_objet}|=={#ID_OBJET}}}
			)]
		</li>
		</BOUCLE_filtrer_parents>
		#PAGINATION
		</B_filtrer_parents>
	</ul>
</div>
#BOITE_FERMER